<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.depaul.csc472.dli.finalProject"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.depaul.csc472.dli.finalProject.ChooseMethod"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.depaul.csc472.dli.finalProject.ConfigParameter"
            android:label="@string/title_activity_config_parameter">
        </activity>
        <activity
            android:name="edu.depaul.csc472.dli.finalProject.Brew"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            android:label="@string/title_activity_brew">
        </activity>
        <activity
            android:name="edu.depaul.csc472.dli.finalProject.Cupping"
            android:label="@string/title_activity_cupping">
        </activity>
    </application>

</manifest>
